head{
    -webkit-appearance: none;
    border-radius: 0;
}

@media (max-width: 480px ) {
.title{
    width:100%;
    background-color:black ;
}
.BSOWrap{
    display: inline-block;
    width:100%;
}
.bsoContainer{
    display: inline-block;
    width:10%;
}
.IndicatorButtonWrap{
    display: inline-block;
    width:10%;
}
.ClearSingleButtonsBox{
    width:10%;
    -webkit-appearance: none;
    border-radius: 0;
}
#BallIndicator,#StrikeIndicator,#OutIndicator{
    width:70%;
    display: inline-block;

} 
#BSClearBtn,#AllClearBtn{
    height:35px;
    width: 45%;
    -webkit-appearance: none;
    border-radius: 5%;
}

}


.titleA{
    display:inline-block;
    width: 350px;
    text-align: center;
    color          : #ffffff;            /* 文字の色 */
    font-size      : 28pt;               /* 文字のサイズ */
    text-shadow    : 
         2px  2px 1px #003366,
        -2px  2px 1px #003366,
         2px -2px 1px #003366,
        -2px -2px 1px #003366,
         2px  0px 1px #003366,
         0px  2px 1px #003366,
        -2px  0px 1px #003366,
         0px -2px 1px #003366;   
    background-color: black;
}
.titleB{
    
    width:350px;
    text-align: center;
    color          : #ffffff;            /* 文字の色 */
    font-size      : 12pt;               /* 文字のサイズ */
    letter-spacing : 4px;                /* 文字間 */
    text-shadow    : 
         2px  2px 1px #003366,
        -2px  2px 1px #003366,
         2px -2px 1px #003366,
        -2px -2px 1px #003366,
         2px  0px 1px #003366,
         0px  2px 1px #003366,
        -2px  0px 1px #003366,
         0px -2px 1px #003366;   
    background-color: black;

}

.IndicatorButtonWrap{
    display: flex;
    align-items: center;
    width:350px;
}
.bsoContainer{
    background-color: black;
    width:80%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.BSOBox{
    display: flex;
    align-items: center;
}
.Title_BSO{
    color: white;
    font-size: 68px;
    margin:0px;
}
#BallIndicator{
    height:105px;
    color:green;
    font-size: 100px;
    margin-top:5px;
    margin-bottom: 5px;
}
#StrikeIndicator{
    height:105px;
    color:yellow;
    font-size: 100px;
    margin-top:5px;
    margin-bottom: 5px;
 }
#OutIndicator{
    height:105px;
    color:red;
    font-size: 100px;
    margin-top:5px;
    margin-bottom: 5px;
}
.BsoButtonsBox{
    width:15%;
    margin-left:3px;
    color:black;
    font-size: 50%;
    text-align:
    
}
.BallButtonsBox{
    height:120px;
    background: gray;
    margin:1px;
    display: flex; 
    flex-direction: column; 
    
}
.StrikeButtonsBox{
    height:120px;
    background-color: gray;
    margin:1px;
    display: flex; 
    flex-direction: column; 
    
}
.OutButtonsBox{
    height:120px;
    background-color: gray;
    margin:1px;
    display: flex; 
    flex-direction: column; 
    
}
#BallPlusBtn{
    font-size:30px;
    height:60px;
    margin:1px;
    padding:1px;
    border-radius: 3;
}
#BallMinusBtn{
    font-size:30px;
    height:60px;
    margin:1px;
    padding:1px;
    border-radius: 3;
}
#StrikePlusBtn{
    font-size:30px;
    height:60px;
    margin:1px;
    padding:1px;
    border-radius: 3;
}
#StrikeMinusBtn{
    font-size:30px;
    height:60px;
    margin:1px;
    padding:1px;
    border-radius: 3;
}
#OutPlusBtn{
    font-size:30px;
    height:60px;
    margin:1px;
    padding:1px;
    border-radius: 3;
}
#OutMinusBtn{
    font-size:30px;
    height:60px;
    margin:1px;
    padding:1px;
    border-radius: 3;
}
.ClearSingleButtonsBox{
    width:15%;

}
#BallClearBtn,#StrikeClearBtn,#OutClearBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    flex-direction: column;
    font-size:30px;
    width: 100%;
    
    /*
}
.ClearMultiButtonBox{
    display: flex;
}
*/
}

#BSClearBtn,#AllClearBtn{
    width:160px;    
    height:60px;
    margin:5px;
}
